<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-manager</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<h1 class="main-message">Welcome to task manager!</h1>
<h2 sec:authorize="!isAuthenticated()"><a class="button" href="/login">Login</a></h2>
<h2 sec:authorize="!isAuthenticated()"><a class="button" href="/users/registration">Registration</a></h2>
<h2 sec:authorize="isAuthenticated()"><a class="button" href="/logout">Logout</a></h2>
<div th:replace="fragments/footer.html"></div>
</body>
</html>